# 修复台的 id
repair: "example"
# 回收站的 id
recycle: "example"

# 主要的菜单的设置
primary_menu_settings:

  # 无实际作用
  title: "DO_NOT_USE"

  # s: 切换至修复台/回收站
  # *: 内嵌菜单
  # .: 背景
  structure:
    - ". . . . . . . . ."
    - ". . * * * * * * *"
    - "s . * * * * * * *"
    - ". . . . . . . . ."

  # background: 背景
  # select_repairing: 选择修复台
  # select_recycling: 选择回收站
  icons:
    background: "internal/menu/common/default/background"
    select_repairing: "internal/menu/blacksmith/default/select_repairing"
    select_recycling: "internal/menu/blacksmith/default/select_recycling"

# 修复台的菜单的设置
repairing_menu_settings:

  # 修复台菜单的标题
  title: "修复台: example"

  # 注意: 该 structure 必须能够放进 primary_menu_settings.structure 的 * 之中
  # i: 可修复物品的槽位
  # *: 背景1
  # .: 背景2
  structure:
    - "i i i i i . ."
    - "* * * * * . ."

  # background: 背景
  # background2: 背景2
  icons:
    background: "internal/menu/common/default/background"
    background2: "internal/menu/blacksmith/default/background2"

# 回收站的菜单的设置
recycling_menu_settings:

  # 回收站菜单的标题
  title: "回收站: example"

  # 注意: 该 structure 必须能够放进 primary_menu_settings.structure 的 * 之中
  # i: 物品回收的槽位
  # x: 确认回收的按钮
  # .: 背景
  structure:
    - "i i i i i . ."
    - "i i i i i . x"

  # background: 背景
  # recycle_when_empty: 回收 (无输入)
  # recycle_when_error: 回收 (错误)
  # recycle_when_confirmed: 回收 (已确认)
  # recycle_when_unconfirmed: 回收 (未确认)
  icons:
    background: "internal/menu/common/default/background"
    recycle_when_empty: "internal/menu/blacksmith/default/recycle_when_empty"
    recycle_when_error: "internal/menu/blacksmith/default/recycle_when_error"
    recycle_when_confirmed: "internal/menu/blacksmith/default/recycle_when_confirmed"
    recycle_when_unconfirmed: "internal/menu/blacksmith/default/recycle_when_unconfirmed"
