base: stick

item_name: "MM法杖"

slot: minecraft:mainhand

# 使该物品可以释放机制
castable:

  # 该机制释放的技能
  # 类型为 "block", 则值需要指定一个技能的 id
  # 这里的例子指定了 id 为 "slash" 的技能 (格式取决于实现)
  skill:
    type: block
    value: "slash"

  # 可以省略
  # 该机制“失效时”施放的技能, 配合 trigger_off 使用
  # 具体用例的话, 可用于实现“伤害反弹”,“二段跳”等机制
  skill_off:
    type: block
    value: "slash_off"

  # 机制的触发器:
  # - special/  # 特殊触发器
  #   on_equip  # 装备该物品在生效槽位时触发一次 (skill); 从生效槽位脱下该物品触发一次 (skill_off)
  # - generic/  # 一般触发器, 对应 Koish 内部的 useOn 和 attackOn ???
  #   left_click  # 手持物品左键时触发
  #   right_click  # 手持物品右键时触发
  # - combo/  # 组合键, 需要按顺序连续按下左右键来触发. 0 = left click, 1 = right click
  #   000
  #   001
  #   010
  #   011
  #   111
  #   110
  #   101
  #   100
  trigger: "generic/right_click"

  # 可以省略
  # “失效”机制的触发器
  # 具体用例的话, 可用于实现“伤害反弹”,“二段跳”等机制
  trigger_off: "special/on_unequip"

  # 触发所需的法力值
  mana_cost: 10.0